<div class="container p-5">
  <div class="row">
    <div class="col bg-light" *ngIf="empData$ | async as data">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Emp ID</th>
            <th scope="col">Full Name</th>
            <th scope="col">Date of Birth(DD/MM/YYYY)</th>
            <th scope="col">Group Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of data">
            <th scope="row">{{data.empId}}</th>
            <td>{{data.fullName}}</td>
            <td>{{data.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
            <td>{{data.groupName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="container bg-light">
        <h2 class="text-center">Employee Details</h2>
        <h3 class="text-success text-center">{{success?'Successfully Submitted!':''}}</h3>
        <form class="p-4" [formGroup]="contactForm" (ngSubmit)="saveEmpData()">

          <div class="form-group row p-2">
            <label class="col-sm-4 col-form-label">Employee Id <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control " placeholder="Employee ID" formControlName="empId" />
              <span class="text-danger" *ngIf="contactForm.get('empId').errors &&
                 contactForm.get('empId').hasError('required') && contactForm.get('empId').touched
                   ">Emp ID is Required</span>
            </div>
          </div>
          <div class="form-group row p-2">
            <label class="col-sm-4 col-form-label">Full Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Full Name" formControlName="fullName">
              <span class="text-danger" *ngIf="contactForm.get('fullName').errors &&
                 contactForm.get('fullName').hasError('required') && contactForm.get('fullName').touched
                   ">Full Name is Required</span>
            </div>
          </div>
          <div class="form-group row p-2">
            <label class="col-sm-4 col-form-label">Date of Birth <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <input type="date" class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth">
              <span class="text-danger" *ngIf="contactForm.get('dateOfBirth').errors &&
                 contactForm.get('dateOfBirth').hasError('required') && contactForm.get('dateOfBirth').touched
                   ">Date of birth is Required</span>
            </div>
          </div>
          <div class="form-group row p-2">
            <label class="col-sm-4 col-form-label">Group Name <span class="text-danger">*</span></label>
            <div class="col-sm-8">
              <select class=" form-control" formControlName="groupName">
                <option value="" disabled>Choose Group Name</option>
                <option *ngFor="let groupName of groupName" [ngValue]="groupName.id">
                  {{ groupName.name }}
                </option>
              </select>
              <span class="text-danger" *ngIf="contactForm.get('groupName').errors &&
                 contactForm.get('groupName').hasError('required') && contactForm.get('groupName').touched
                   ">Group Name is Required</span>
            </div>
          </div>

          <div [ngClass]="(swipe%2)==0 && !contactForm.valid? 'leftToright' : 'rightToleft' ">
            <button (mouseover)="countNo()" type="submit" class="btn"
              [ngClass]="contactForm.valid? 'btn-success': 'btn-primary'">Submit</button>
          </div>
        </form>

        <!-- <div class="text-center text-success" *ngIf="bdayData$ | async as bdayWala">
          <div class="h5" *ngFor="let count of [].constructor(bdayWala.data.length); let i = index">
            <strong>{{bdayWala.data[i]}}</strong>
          </div> -->
        <button (click)="sendBdayMsg()">Send msg</button>

      </div>
    </div>
  </div>
</div>